<li class="cl">
	<div>
		<p>
			<a href="#" class="sc" onclick="return UnHide(this)">&#9658;</a>
			<a href="#"><%=room_name%></a>
		</p>
	</div>
	<ul id="leaflist">
		<%#leafs%>
	</ul>
</li>