<div id='wrapper'>
	<div id='topic_area'>
		"Welcome to kmar chat"
	</div>
	<div id='content'>		
		<div id='chat_log_area'>
			<ul id='chat_log'>

			</ul>
		</div>
		<div id='input_area'>
			<input id='chat_input'/>
		</div>
	</div>
	<div id='sidebar'>
		

	</div>
	<div style="clear:both;">
	</div>
</div>
